.codex 
.env 
.clangd 
.venv/ 
.cache/

__pycache__/ 

!/preprocess/data/.gitkeep 
/preprocess/data/* 
!/preprocess/images/.gitkeep

/compression/data/* 
!/compression/data/.gitkeep
/compression/images/* 
!/compression/images/.gitkeep

/representation/checkpoints/*
!/representation/checkpoints/.gitkeep
/representation/data/*
!/representation/data/.gitkeep
/representation/images/*
!/representation/images/.gitkeep

!/evaluation/data/.gitkeep
/evaluation/data/* 
!/evaluation/images/.gitkeep
/evaluation/images/* 

/persistence/data/*
!/persistence/data/.gitkeep
/persistence/images/*
!/persistence/images/.gitkeep

/compression/__pycache__/
/preprocess/__pycache__/ 
/persistence/__pycache__/
